<nav class="navigationWrapper" id="navbarElement">
    <div class="logoWrapper">
        <span class="stylish">Transport Evropa</span>
        <span class="logo">By Auto servis Mazić</span>
    </div>
    <div class="logoWrapper">
        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>danilomazic@gmail.com</p>
        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+381 64 123 1234</p>
        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>Viber: +11 64 123 1234</p>
    </div>
    <ul class="navigation">
        <li class="parent"><a href="index.html" class="link" id="homeTab">Pocetna</a></li>
        <li class="parent"><a href="about.html" class="link" id="aboutTab">O nama</a></li>
        <li class="parent"><a href="gallery.html" class="link" id="galleryTab">Galerija</a></li>
        <li class="parent"><a href="contact.html" class="link" id="contactTab">Kontakt</a></li>
    </ul>
</nav>